
.img-rede img{
    max-width:100px;
    max-height:50px;
    width: auto;
    height: auto;
    display: inline-block;
}

img{
    max-width:500px;
    max-height:450px;
    width: auto;
    height: auto;
}

#cabecalho {
    background-image:url('https://thacischott.github.io/challenger/imagem/planeta.jpg');
    background-repeat:repeat-x;
}
