
/* style para as imagens de rede social*/
.img-rede img{ 
    max-width:100px;
    max-height:50px;
    float: left;
    /*width: 33.33%;*/
   .row::after {
    content: "";
    clear: both;
    display: table;  
    /* display: inline-block;*/       
}
   
}

/* style para as imagens IHF */
img{
    max-width:500px;
    max-height:450px;
   /* width: auto;*/
    /*height: auto;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* backgorund branco*/
body {
  background-color: #FFFFFF;
}

/* style para as imagens da home */
.carousel {
  width: 1000px;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
